<!DOCTYPE html>
<html>
  <head>
    <title>ejs 页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- ejs 语法 -->
    <!-- 数据从 routes/index.js 获取-->

    <%# ejs 注释的写法 -%>
    <h1><%= title %></h1>
    <p>姓名：<%= user.name %><!--转义--> <%- user.html %> <!--不转义--></p> 
    <p>年龄：<%= user.age %></p>
    <p>性别：<%= user.sex %></p>
    <%# ejs javascript语句 -%>
    <p>标签：
        <% for(var i=0; i<tags.length; i++) { %>
          <% include ./included %>
        <% } %>
    </p>

    <%# ejs include另一种写法 -%>
    <!-- <p>标签：
        <% for(var i=0; i<tags.length; i++) { %>
        <%-
          include('included', {
              i: i,
              tags: tags
          })
        %>
        <% } %>
    </p> -->

    <!-- ejs 语法 -->
  </body>
</html>
